In [162]:
import numpy as np
import pandas as pd

In [163]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [164]:
df = pd.read_csv('gurgaon_properties.csv')

In [165]:
df.tail()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3956,7 Bedroom House for sale in DLF Phase 1,house,independent,18.25,18250.0,10000.0,Plot area 550(51.1 sq.m.)Carpet area: 10000 sq...,7,9,3+,"pooja room,study room,servant room,store room","A Block, DLF Phase 1, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Guru dronacharya metro station', 'Dlf phase ...",Ultra luxury duplex kothi sale in dlf phase 1 ...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ..."
3957,1 BHK Flat in Palam Vihar Extension,flat,Palam Vihar Extension West Zone RWA,0.20,NaN,NaN,Carpet area: 500 (46.45 sq.m.),1,1,1,others,"Palam Vihar Extension, Gurgaon, Haryana",1.0,NaN,5 to 10 Year Old,"['Palam triangle', 'Palam Vihar Vyapar kendra'...","It's near to main road, 24hrs boring water,","['1 Bed', '1 Wardrobe', '1 Fan', '1 Geyser', '...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3958,2 Bedroom House for sale in Subhash Nagar,house,independent,1.40,8702.0,1609.0,Plot area 166(138.8 sq.m.),2,2,1,not available,"267/7 Subhash Nagar Gurgaon, Subhash Nagar, Gu...",2.0,North-East,10+ Year Old,"['Ravi Clinic and Health Care Centre', 'D.R. R...","Two floors ground & first, two families can ea...",NaN,NaN,"['Environment3.5 out of 5', 'Lifestyle4.5 out ..."
3959,2 BHK Flat in Sohna,flat,Ashiana Mulberry,0.95,NaN,NaN,Super Built up area 1465(136.1 sq.m.)Built Up ...,2,2,3+,study room,"Sohna, Gurgaon, Haryana",3.0,NaN,0 to 1 Year Old,"['Discount Department Store', 'Badshahpur Sohn...","Ready-To-Move in, just completed, fresh proper...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3960,9 Bedroom House for sale in DLF Phase 2,house,independent,7.60,38760.0,1961.0,Plot area 215(179.77 sq.m.),9,9,3,"study room,pooja room,store room","2/22, DLF Phase 2, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Vodafone belvedere towers metro station', 'D...",Sale - Kothi in gurgaon\n# dlf phase -2 ()\n# ...,"['1 Water Purifier', '9 Fan', '1 Exhaust Fan',...","['Security / Fire Alarm', 'Water purifier', 'H...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [166]:

df.shape

(3961, 20)

In [167]:
df.duplicated().sum()

0

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   945 non-null    float64
 5   area             945 non-null    float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [169]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft     3016
area               3016
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [170]:

df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 81 Gurgaon,flat,DLF The Ultima4.0 ★,2.28,NaN,NaN,Super Built up area 2103(195.38 sq.m.)Built Up...,3,3,3+,servant room,"N-144, Sector 81 Gurgaon, Gurgaon, Haryana",14.0,East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Vatika Town...",This beautiful 3 bhk flat in sector 81 gurgaon...,"['5 Fan', '1 Fridge', '1 Exhaust Fan', '3 Geys...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of..."
1,6 BHK Flat in Sector 10A Gurgaon,flat,Karmyogi Apartment,2.30,NaN,NaN,Carpet area: 3556 (330.36 sq.m.),6,4,2,not available,"Sector 10A Gurgaon, Gurgaon, Haryana",6.0,NaN,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Gautam Hospital', 'Sai...",Prime location with park mandir and security w...,"['1 Exhaust Fan', '4 Light', 'No AC', 'No Bed'...",NaN,"['Environment4 out of 5', 'Lifestyle5 out of 5..."
2,4 BHK Flat in Sector 113 Gurgaon,flat,M3M Capital,2.37,NaN,NaN,Built Up area: 2060 (191.38 sq.m.)Carpet area:...,4,4,3+,study room,"Sector 113, Sector 113 Gurgaon , Gurgaon, Haryana",20.0,East,By 2025,"['Phase 2 Metro Station', 'Global Foyer Mall',...","0km from delhi, 10 minutes distance from igi a...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Security / Fire...",NaN
3,4 BHK Flat in Sector 76 Gurgaon,flat,Corona Gracieux,1.46,NaN,NaN,Super Built up area 2650(246.19 sq.m.),4,6,3+,servant room,"E-802, Sector 76 Gurgaon, Gurgaon, Haryana",8.0,NaN,0 to 1 Year Old,"['Entertainland Mall', 'Delhi Ajmer Expressway...","Bed rooms are specious, having a class securit...",NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...",NaN
4,3 BHK Flat in Sector 69 Gurgaon,flat,Tulip Violet4.3 ★,1.40,NaN,NaN,Super Built up area 1578(146.6 sq.m.),3,3,2,not available,"202, Sector 69 Gurgaon, Gurgaon, Haryana",1.0,North-East,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",This lovely 3 bhk apartment/flat in sector 69 ...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4 out of..."

In [171]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [172]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 81 Gurgaon,flat,DLF The Ultima4.0 ★,Sector 81,2.28,NaN,NaN,Super Built up area 2103(195.38 sq.m.)Built Up...,3,3,3+,servant room,"N-144, Sector 81 Gurgaon, Gurgaon, Haryana",14.0,East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Vatika Town...",This beautiful 3 bhk flat in sector 81 gurgaon...,"['5 Fan', '1 Fridge', '1 Exhaust Fan', '3 Geys...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of..."
1,6 BHK Flat in Sector 10A Gurgaon,flat,Karmyogi Apartment,Sector 10A,2.30,NaN,NaN,Carpet area: 3556 (330.36 sq.m.),6,4,2,not available,"Sector 10A Gurgaon, Gurgaon, Haryana",6.0,NaN,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Gautam Hospital', 'Sai...",Prime location with park mandir and security w...,"['1 Exhaust Fan', '4 Light', 'No AC', 'No Bed'...",NaN,"['Environment4 out of 5', 'Lifestyle5 out of 5..."
2,4 BHK Flat in Sector 113 Gurgaon,flat,M3M Capital,Sector 113,2.37,NaN,NaN,Built Up area: 2060 (191.38 sq.m.)Carpet area:...,4,4,3+,study room,"Sector 113, Sector 113 Gurgaon , Gurgaon, Haryana",20.0,East,By 2025,"['Phase 2 Metro Station', 'Global Foyer Mall',...","0km from delhi, 10 minutes distance from igi a...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Security / Fire...",NaN
3,4 BHK Flat in Sector 76 Gurgaon,flat,Corona Gracieux,Sector 76,1.46,NaN,NaN,Super Built up area 2650(246.19 sq.m.),4,6,3+,servant room,"E-802, Sector 76 Gurgaon, Gurgaon, Haryana",8.0,NaN,0 to 1 Year Old,"['Entertainland Mall', 'Delhi Ajmer Expressway...","Bed rooms are specious, having a class securit...",NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...",NaN
4,3 BHK Flat in Sector 69 Gurgaon,flat,Tulip Violet4.3 ★,Sector 69,1.40,NaN,NaN,Super Built up area 1578(146.6 sq.m.),3,3,2,not available,"202, Sector 69 Gurgaon, Gurgaon, Haryana",1.0,North-East,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",This lovely 3 bhk apartment/flat in sector 69 ...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4 out of..."

In [173]:
df['sector'] = df['sector'].str.lower()

In [174]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [175]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','sector 6')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [176]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','sector 42')

In [177]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [178]:
df['sector'] = df['sector'].str.replace('sohna road road','47')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [179]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [180]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [181]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [182]:
df['sector'].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 90                      90
sector 65                      90
sector 81                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 89                      56
sector 48                      56
sector 2                       55
sector 70a                     54
sector 70                      53
sector 37c                     53
sector 43                      53
sector-33 sohna road           51
sector 84                      51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 61                      42
sector 82                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 12                      30
sector 68                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 24                      24
sector 112                     24
sector 57                      24
sector 88a                     23
sector 14                      23
sector 33                      23
sector 105                     23
sector 67a                     22
sector 111                     22
sector 11                      21
sector 82a                     20
sector 22                      20
sector 3                       20
sector 78                      19
sector 47                      19
sector 63a                     18
sector 74                      18
sector 62                      17
sector 6                       17
sector 91                      17
sector 110                     16
sector 99                      16
sector 63                      15
sector 60                      15
sector 55                      14
sector 76                      14
sector 52                      14
gwal pahari                    14
sector 1 sector 6              14
sector 53                      14
sector 36a                     13
sector 46                      13
sector 4 phase 2               13
sector 9                       13
sector 93                      12
sector 31                      12
sector 39                      12
sohna road road                12
sector 38                      12
sector 41                      11
sector 9a                      11
sector 3 phase 3 extension     11
sector 13                      10
sector 1a sector 6             10
sector 45                       9
sector 3 phase 2                9
sector 95a                      9
sector 17                       8
sector 23                       8
dwarka expressway               8
sector 40                       8
sector 8                        8
sector 10a                      8
sector 59                       8
sector 89 a                     8
sector 2 extension              8
c block sector 43               8
sector 58                       7
sector 51                       7
sector 36 sohna road            7
sector 21                       6
sector 5                        6
sector 1                        6
sector 23a                      5
sector 30                       5
sector 80                       5
new sector 2                    5
sector 42                       5
manesar                         5
sector 12a                      4
new                             4
sector 36                       4
sector 3a                       4
a block sector 43               3
sector 73                       3
sector 27                       3
sector 110 a                    3
maruti kunj                     3
sector 17a                      3
b block sector 43               3
sector 15                       3
sector 17b                      3
patel nagar                     3
sector 88b                      3
Name: count, dtype: int64

In [183]:
df['sector'] = df['sector'].astype(str)
df['sector'] = df['sector'].fillna('').astype(str)
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace(['sector 3 phase 3 extension','sector 3 phase 3 extension'],'sector 43')
df['sector'] = df['sector'].fillna('').astype(str)

In [184]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')
df['sector'] = df['sector'].str.replace('sector 37d','sector 37')
df['sector'] = df['sector'].str.replace('sector 67a','sector 67')
df['sector'] = df['sector'].str.replace('sector 82a','sector 82')
df['sector'] = df['sector'].str.replace('sector 36a','sector 36')

In [185]:
df['sector'] = df['sector'].str.replace('sector 37a','sector 37')
df['sector'] = df['sector'].str.replace('sector 37c','sector 37')
df['sector'] = df['sector'].str.replace('sector 70a','sector 70')
df['sector'] = df['sector'].str.replace('sector 99a','sector 99')
df['sector'] = df['sector'].str.replace('sector 88a','sector 88')
df['sector'] = df['sector'].str.replace('sector 63a','sector 63')
df['sector'] = df['sector'].str.replace('sector 36aa','sector 36')
df['sector'] = df['sector'].str.replace('sector 9a','sector 9')
df['sector'] = df['sector'].str.replace('sector 17a','sector 17')
df['sector'] = df['sector'].str.replace('sector 10a','sector 10')
df['sector'] = df['sector'].str.replace('sector 17b','sector 17')                         
df['sector'] = df['sector'].str.replace('sector 88b','sector 88')

In [186]:
df[df['sector'] == 'new']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [187]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [188]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [189]:
df.loc[[311,1072,1486,3040,3875],'sector'] = 'sector 110'

In [190]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)